.agents_filter_container{    
    padding: 0 6rem;
    width: 100%;
}

.title{
    font-size: 1.3rem;
}

.tags{
    padding: 1rem 0;
    gap: 0.5rem;    
    width: 100%;
    display: flex;
}

.filter_image{
    width: 100%;
    height: 100%;
}